<launch>
    <arg name="config_file" default="$(find mrs_coverage_planner)/config/standalone_coverage_planner.yaml" />

    <node name="mrs_coverage_planner_node" pkg="mrs_coverage_planner" type="mrs_coverage_planner_node" output="screen">
        <rosparam command="load" file="$(arg config_file)" ns="" />
        
        <param name="latitude_origin" type="double" value="49.228330" />
        <param name="longitude_origin" type="double" value="15.225238" />
    </node>
</launch>
